/* Глобальный border-box */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after
  {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
  }

/* Обращение ко всей странице */
*{
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    color: #212121;
}
img{
    display: block;
}
.link {
    text-decoration: none;
    display: block;
}
.section{
    margin-top: 94px;
    margin-bottom: 94px;
}
.iten,
.iten-studio,
.iten-portfoli
{
    display: block;
    padding-top: 32px; 
    padding-bottom: 32px;
}
.feedback-mail,
.feedback-tel
{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/* Все ховеры и фокусы */

.feedback-tel:hover,
.feedback-tel:focus,
.feedback-mail:hover,
.feedback-mail:focus,
.link-user-logo:hover,
.link-user-logo:focus,
.iten:focus,
.iten:hover,
.social-link:hover,
.social-link:focus,
.button-link:hover,
.button-link:focus
{
    color: #2196F3;
}


/* Логотип */

.my-logo-1{
    font-family: Raleway;
    font-size: 26px;
    line-height: 0.84;
    color: #2196F3;
}
.my-logo-2{
    font-family: Raleway;
    font-size: 26px;
    line-height: 0.84;
    color: #000000;
}
.my-logo-3{
    font-family: Raleway;
    font-size: 26px;
    line-height: 0.84;
    color: #ffffff;
}
/* Кнопка */

.hero-button{
    font-family: inherit;
}

/* Шапка */

.logo{
    margin-right: 85px;
}

.iten-studio,
.iten,
.iten-portfoli
{
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
}

.header-list,
.iten-studio,
.iten-portfoli {
    color: #2196F3;
}

.feedback-tel,
.feedback-mail{

    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;

    font-style: normal;
    text-decoration: none;
    color: #757575;
}
header{
    display: flex;   
    align-items: center;
    justify-content: space-between;

}
.site-nav{
    display: flex;
    align-items: center;
}
.header-list{
    display: flex;
}
.header-list-link{
    margin-right: 50px;
}
.feedback-list-item{
    display: flex;
}
.feedback:not(:last-child){
    margin-right: 50px;
}


/* Герой */

.main-title{

    box-sizing: content-box;
    font-weight: 900;
    font-size: 44px;
    line-height: 0.73;
    text-transform: uppercase;
}
.section-hero{
    display: block;
}


/* О Нас */

.skill-name{
    font-size: 14px;
    line-height: 0.86;
    text-transform: uppercase;
    font-weight: bold;
}
.skill-text{
    font-size: 14px;
    line-height: 0.58;
    color: #757575;
}

/* Чем мы занимаемся */
.minor-title{
    font-size: 36px;
    line-height: 0.86;
}
.lessons-list-link{
    font-size: 14px;
    line-height: 0.58;
    text-transform: uppercase;
    font-weight: bold;
}
/* Наша команда */

.team-name{
    font-size: 16px;
    line-height: 0.84;
}
.team-profession{
    font-size: 16px;
    line-height: 0.84;
    color: #757575;
}
/* Футер */

.link-feedback{
    font-size: 14px;
    line-height: 0.58;
    font-style: normal;
}
.link-map{
    font-style: normal;
}
.join{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 0.88;
}

/* Портфолио Меню */

.menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 0.62;
}

/* Галерея */
.examples-text-iten{
    font-weight: bold;
    font-size: 18px;
    line-height: 0.5;
}
.examples-name{
    font-size: 16px;
    line-height: 0.53;
    color: #757575;
}
.examles-text{
    font-size: 18px;
    line-height: 0.64;
}



/* цвета логотипа #2196F3 / #000000 */
/* цвет кнопок и ховера #2196F3 */
/* первчиный текст #212121 */
/* вторичный текст #757575 */
/* цыет первичного фона #FFFFFF */
/* цвет вторичного фона #F5F4FA */
/* фон соц.сетей rgba(255, 255, 255, 0.1) */
/* первичный цвет текста футура rgba #FFFFFF */
/* вторичный цвет текста футера rgba(255, 255, 255, 0.6) */
/* фон текста перед картинками "чем мы занимаемся" rgba(47, 48, 58, 0.8) */